project/MyStateMachine.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Serialize Image Data",
  "States": {
    "Serialize Image Data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:676164873125:function:serializeImageData:$LATEST",
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Infer Serialized Image"
    },
    "Infer Serialized Image": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:676164873125:function:classifyImageData:$LATEST",
        "Payload": {
          "image_data.$": "$.body.image_data",
          "s3_bucket.$": "$.body.s3_bucket",
          "s3_key.$": "$.body.s3_key",
          "inferences.$": "$.body.inferences"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Filter Infered results"
    },
    "Filter Infered results": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload": {
          "image_data.$": "$.body.image_data",
          "s3_bucket.$": "$.body.s3_bucket",
          "s3_key.$": "$.body.s3_key",
          "inferences.$": "$.body.inferences"
        },
        "FunctionName": "arn:aws:lambda:us-east-1:676164873125:function:thresholdFunction:$LATEST"
      },
      "End": true
    }
  }
}